<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>control.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleByAuthorControl</servlet-name>
        <servlet-class>control.ArticleByAuthorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewControl</servlet-name>
        <servlet-class>control.AddNewControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>control.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>control.UpdateControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/cate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleByAuthorControl</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewControl</servlet-name>
        <url-pattern>/addnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/EditControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/UpdateControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
