USE [master]
GO
/****** Object:  Database [account]    Script Date: 6/2/2021 10:42:39 AM ******/
CREATE DATABASE [account]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'account', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\account.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'account_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\account_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [account].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [account]
GO
/****** Object:  User [sa1]    Script Date: 6/2/2021 10:42:40 AM ******/
CREATE USER [sa1] FOR LOGIN [sa1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 6/2/2021 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
